/*Header Area*/

#main-header {
	background-color:#CABBB8;
	color:black;
	width: 100%;
	height: 400px;	
	display: flex;
	align-items: center;				
	font-size: 70px;
	padding-left: 13%;
	justify-content: space-between;
	font-weight: bold;
}
/*This area defines the background color and its width and height as well as the positon of the text and its style(size/bodl)*/


#main-logo {
	float: right;
	padding-right: 10%;
	height: auto;	
	width: 1000px;
}
/*This area defines the Position of the Header-Logo and the Padding from the right End of the Window*/


/*Navigation Bar Area*/

nav {
	background-color: #C55352;
	height: 150px;
	width: 100%
}
/*This area onli defines the size and the color of the Navigationbar*/


#navbar {
	list-style-type: none;
	float: right;
	margin: 0px;
	margin-right: 250px;
}	
/*Here we define the position of the Text and the margin to the right end and
close the gap between the Header and the Navbar by 0px Margin (with margin 250px)*/


#navbar li {
	float: right;
}
/*Here we actually more the list elements to the positon they should be*/


#navbar li a {
	text-decoration: none;
	display: block;	
	color: white;
	font-size: 70px;
	font-weight: bold;
	padding: 30px;
	padding-left: 150px;
}
/*The decoration none deletes the points of the list, block=center it, the other definition define the style*/


#navbar a:hover {
	background-color: lightgrey;
	padding-bottom: 40px
}
/*Hover defines the action when you go through the Navbar by changing the background of the element you are at to lightgrey*/


/*Main Text Area*/

#main-text {
	font-size: 100px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 150px;	
	font-weight: bold
}
/*Text in the center of the page with adapting the size and position and the gap at the top and bottom
(attention h1 text already contains a padding)*/

#Text {
	text-transform: capitalize;
	font-size: 40px;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 150px;
	margin-left: 250px;
	margin-right: 250px	
}
/*Text style and size*/

/*Footer Area*/

footer {
	background-color: #CABBB7;
	padding: 15px;
	margin-top: 50px;
	font-size: 40px
}
/*Defines the footer area - backgound color and the padding, the margin to the pictures above and the size of text*/


#logofooter {
max-width: 500px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px
}
/*Defines the Logo in the Footer - size, position and margin */

